root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4
trim_trailing_whitespace = true
max_line_length = off

[*.{kt,kts}]
indent_size = 4
indent_style = space
max_line_length = 160
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_filename = disabled
ktlint_standard_function-naming = disabled

# Block-bodied throws are required here: this Kotlin Gradle plugin version
# rejects expression-bodied `actual`s whose expression type is Nothing
# ("Return type 'Nothing' needs to be specified explicitly").
[*shared/src/androidMain/**/sync/cloudkit/*.kt]
ktlint_standard_function-expression-body = disabled

[*.{yaml,yml}]
indent_size = 2

[*.xml]
indent_size = 2

[*.{json,json5}]
indent_size = 2
